body{
    background:#f4f6f9;
}

/* Card */

.card{
    border-radius:15px;
    border:none;
    box-shadow:0 .25rem .75rem rgba(0,0,0,.08);
}

.card-header{
    border-radius:15px 15px 0 0 !important;
    font-weight:600;
}

/* Tombol */

.btn{
    border-radius:10px;
}

/* Badge */

.badge{
    padding:7px 12px;
    border-radius:20px;
    font-size:13px;
}

/* Table */

.table thead th{

    vertical-align:middle;

    text-align:center;

}

.table td{

    vertical-align:middle;

}

/* Input */

.form-control{

    border-radius:10px;

}

.form-control:focus{

    box-shadow:none;

    border-color:#0d6efd;

}